<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Generate table & data</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Placeholder cho sidebar -->
    <div id="sidebar-placeholder"></div>

    <!-- Nội dung chính -->
    <div id="content">
        <h1>Generate table & data</h1>
        <p>Sử dụng GPT để generate table và simulation data</p>
        <button onclick="window.open('https://chatgpt.com/c/670fea69-6ee0-8004-a9a2-ea422d10202b', '_blank')">Link to GPT</button>
    </div>

    <!-- JavaScript chung -->
    <script src="../script/main.js"></script>
    <script>
        loadSidebar('link-tool-excel');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script src="../script/tool_excel.js"></script>
</body>
</html>